/* Temel stil */
body {
    font-family:montserrat;;
    margin: 0;
    background-color: #f0f0f0;
}
/* Başlık */
header {
    
background-color: #221b22;
    color: #000;
    padding: 11px 0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* Top bar bölgesinin iç boşluğu */
}

nav ul {
    z-index: 4;
    list-style: none;
    padding: 0;
    padding: 0;
    margin: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    
}

nav li {
    margin-right: 15px;
    /* Menü öğeleri arasındaki yatay boşluk */
}

nav {
    flex-grow: 1;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #221b22;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    font-size: 18px;
}

nav a:hover {
    color: #3498db;
}


/* Menü Öğeleri */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu-item a {
    background-color: #221b22;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
}

/* Kayıt Ol Öğesi */

.basvur {
    position: absolute;
    top: 30px;
    /* İstediğiniz yukarıdan uzaklık değerini ayarlayın */
    right: 10px;
    /* İstediğiniz sağdan uzaklık değerini ayarlayın */
    display: inline-block;
    vertical-align: middle;
}


.basvur a {
    background-color: #131212;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.basvur a:hover {
    background-color: #fff;
    color: #3498db;
}

.menubuton {
    display: none;
}

.mobile-menu {
    display: none;
}



/* Hero Bölümü */
.hero {
    background-image: url('images/image2.webp');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: #fff;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: #fff;
    color: #3498db;
}

.logo {
    display: inline-block;
    /* Display as inline-block for centering */
    text-align: center;
    /* Center align the contents */

}

.logo img {
    max-width: 140px;
    max-height: 60px;
    margin-right: 10px;
}

/* Vizyon ve Misyon Kutuları */
.vision-mission {
    display: flex;
    justify-content: space-around;
    background-color: #f7f7f7;
    padding: 40px;
    margin-top: 20px;
}

.vision,
.mission {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Vizyon ve Misyon Başlıkları */
.vision h2,
.mission h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Telif Hakkı Footer Stili */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
    
    footer p {
    
        font-size: 16px;
        display: inline-block;
        vertical-align: middle;
        margin-top: -40px;
        margin-bottom: 10px;
        position: relative; /* Pozisyonu göreceli olarak ayarla */
    }
    
    /* Link Rengi */
    footer a {
       
        color: #000;
        text-decoration: none;
    }
    
    footer a:hover {
        text-decoration: underline;
    }

.social-icons {
    text-align: right;
    /* İkonları sağa hizala */
    margin-top: auto;
    /* İkonlardan üstte boşluk bırak */
}

.social-icons a {
    display: inline-block;
    /* İkonları yan yana hizala */
    margin-left: 10px;
    /* İkonlar arasında bir boşluk bırak */

}

.social-icons a:first-child {

    margin-left: 0;
    /* İlk ikonun sol boşluğunu kaldır */
}

.social-icons a img {
    width: 30px;
    /* Genişliği 30 piksel olarak ayarla */
    height: 30px;
    /* Yüksekliği de 30 piksel olarak ayarla */
    margin-right: 10px;
    /* İkonlar arasında bir boşluk bırakmak için sağ kenar boşluğu ekleyin */
    margin-top: 20px;
}

/* Vizyon ve Misyon Metinleri */
.vision p,
.mission p {
    font-size: 16px;
    line-height: 1.6;
}



/* Telefon Boyutları İçin Özelleştirme */
@media (max-width: 767px) {
    .hero {
        padding: 40px 0;
    }

    .hero h1 {
        font-size: 2.5rem;
        margin-bottom: 15px;
    }

    .hero p {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .cta-button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .vision-mission {
        padding: 20px;
        margin-top: 10px;
    }

    .vision,
    .mission {
        padding: 15px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin-bottom: 10px;
    }

    .vision h2,
    .mission h2 {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .vision p,
    .mission p {
        font-size: 14px;
        line-height: 1.4;
    }
        /* Telif Hakkı Footer Stili */
        footer {
            padding: 5px 0;
        }
    
        footer p {
    
            font-size: 13px;
            display: inline-block;
            vertical-align: middle;
            margin-top: -40px;
            margin-bottom: 10px;
            margin-left: -80px;
            position: relative; /* Pozisyonu göreceli olarak ayarla */
        }
    
        .social-icons a img {
            width: 25px;
            /* Genişliği 30 piksel olarak ayarla */
            height: 25px;
            /* Yüksekliği de 30 piksel olarak ayarla */
            margin-right: 1px;
            /* İkonlar arasında bir boşluk bırakmak için sağ kenar boşluğu ekleyin */
            margin-top: 20px;
        }
    
        .vision p,
        .mission p {
            font-size: 12px;
            line-height: 1.4;
        }
    
    #mobile-menu-button {
        display: block;
        /* Mobil menü düğmesini görünür yap */
    }

    /* Başlık */
    header {
        padding: 8px 0;
        position: relative;
        z-index: 4;
    }

    .header-container {
        position: relative;
        z-index: 4;
        padding: 5px 10px;

    }

    nav li {
        position: relative;
        z-index: 4;
        margin-right: 10px;

    }

    nav a {
        font-size: 14px;
        position: fixed;
    }




    .menu-item {

        display: none;
        /* Normal menüyü gizle */
    }

    .basvur {
        display: none;
    }

    .menubuton {
        position: absolute;
        top: 24px;
        /* İstediğiniz yukarıdan uzaklık değerini ayarlayın */
        right: 10px;
        /* İstediğiniz sağdan uzaklık değerini ayarlayın */
        display: inline-block;
        vertical-align: middle;
    }

    .menubuton a {

        background-color: #3498db;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;

    }

    /* Menü Öğelerinin Rengi */
    .menu2-item {
        text-align: right;
        /* Menü öğelerini sağa hizalayın */
        margin-right: 15px;
        /* Sağ taraftan biraz boşluk bırakın */

    }

    .menu2-item a {
        background-color: #221b22;
        color: #fff;
        padding: px 1px;
        border-radius: 5px;
    }

    .menubuton a:hover {
        background-color: #fff;
        color: #3498db;
    }

    .mobile-menu {
        z-index: 0;

        position: absolute;
        top: 0;
        right: 0;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(255, 0, 0, 0.1);
        width: 20px;
        height: 120px;
        padding: 0px;
    }

    .mobile-menu ul {
        list-style: none;
        margin-bottom: 10px;
    }

    .mobile-menu li {
        margin-bottom: 10px;
    }

    .mobile-menu a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
    }

    .hamburger-icon {
        position: relative;
        z-index: 4;
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .hamburger-icon span {
        width: 100%;
        height: 4px;
        background-color: #ffffff;
    }

    .logo {
        background-color: #221b22;
        background-position-x: left;
        background-size: contain;
        /* veya contain veya özel bir değer */
    }

    .logo::before {
        content: "";
        /* Pseudo öğeye içerik eklemek için boş bir içerik atayın */
        position: absolute;
        /* Pseudo öğeyi pozisyonlandırın */
        top: -10px;
        left: 0;
        width: 100%;
        /* Pseudo öğenin genişliğini öğe ile aynı yapın */
        height: 100%;
        /* Pseudo öğenin yüksekliğini öğe ile aynı yapın */
        background-color: #221b22;
        /* Dikdörtgenin arkaplan rengini belirleyin */
        z-index: -3;
        /* Pseudo öğeyi öğenin altına yerleştirin */
    }

    @keyframes slideUp {
        from {
            transform: translateY(-100%);
        }

        to {
            transform: translateY(0px);
        }
    }

    @keyframes slideReverse {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(-110%);
        }
    }

    /* Mobil menü açıkken görünür hale getir */
    .animation-container {
        animation-duration: 0.1s;
        /* Animasyon süresi */
        animation-timing-function: ease-in-out;
        /* Animasyon hız eğrisi */
        animation-fill-mode: both;
        /* Animasyon bitiminde son durumunu koru */
        animation-iteration-count: 3;
        /* Animasyonu 3 kez tekrar et */
    }
}