body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f0f0f0, #f0f0f0);
    color: #fff;
}

/* Başlık */
header {
    background-color: #82c4e6;
    color: #000;
    padding: 11px 0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* Top bar bölgesinin iç boşluğu */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 15px;
    /* Menü öğeleri arasındaki yatay boşluk */
}

nav {
    flex-grow: 1;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    font-size: 18px;
}

nav a:hover {
    color: #3498db;
}


/* Menü Öğeleri */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu-item a {
    background-color: #82c4e6;
    color: #000000;
    padding: 8px 15px;
    border-radius: 5px;
}
.logo {
    display: inline-block;
    /* Display as inline-block for centering */
    text-align: center;
    /* Center align the contents */
}

.logo img {
    max-width: 140px;
    max-height: 100px;
    margin-right: 10px;
}
/* Kayıt Ol Öğesi */

.basvur {
    position: absolute;
    top: 30px;
    /* İstediğiniz yukarıdan uzaklık değerini ayarlayın */
    right: 10px;
    /* İstediğiniz sağdan uzaklık değerini ayarlayın */
    display: inline-block;
    vertical-align: middle;
}


.basvur a {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.basvur a:hover {
    background-color: #fff;
    color: #3498db;
}

.team {
    text-align: center;
    padding: 2rem;
}

.team h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.member {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 8px;
    width: 200px;
}

.member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
}
/*menu butonlarını gizle */
.menubuton {
    display: none;
}

.mobile-menu {
    display: none;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero {
    background-image: url('../images/heroarka.webp');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}
.hero2 {
    background-image: url('../images/hero2.webp');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}
/* Telif Hakkı Footer Stili */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}

/* Link Rengi */
footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
@media (max-width: 767px) {
    #mobile-menu-button {
        display: block;
        /* Mobil menü düğmesini görünür yap */
    }

    /* Başlık */
    header {
        padding: 8px 0;
    }

    .header-container {
        padding: 5px 10px;
    }

    nav li {
        margin-right: 10px;
    }

    nav a {
        font-size: 14px;
    }


    /* Telif Hakkı Footer Stili */
    footer {
        padding: 5px 0;
    }

    footer p {
        font-size: 10px;
    }

    .menu-item {
        display: none;
        /* Normal menüyü gizle */
    }

    .basvur {
        display: none;
    }

    .menubuton {
        position: absolute;
        top: 24px;
        /* İstediğiniz yukarıdan uzaklık değerini ayarlayın */
        right: 10px;
        /* İstediğiniz sağdan uzaklık değerini ayarlayın */
        display: inline-block;
        vertical-align: middle;
    }

    .menubuton a {
        background-color: #3498db;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;

    }

    /* Menü Öğelerinin Rengi */
    .menu2-item {
        text-align: right;
        /* Menü öğelerini sağa hizalayın */
        margin-right: 15px;
        /* Sağ taraftan biraz boşluk bırakın */
    }

    .menu2-item a {
        background-color: #82c4e6;
        color: #000;
        padding: px 15px;
        border-radius: 5px;
    }

    .menubuton a:hover {
        background-color: #fff;
        color: #3498db;
    }

    .mobile-menu {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 200px;
        padding: 10px;
    }

    .mobile-menu ul {
        list-style: none;
        margin-bottom: 0px;
    }

    .mobile-menu li {
        margin-bottom: 10px;
    }

    .mobile-menu a {
        text-decoration: none;
        color: #333;
        font-size: 16px;
    }

    .hamburger-icon {
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .hamburger-icon span {
        width: 100%;
        height: 4px;
        background-color: #000;
    }
}
