body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.contact {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact-details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-item {
    width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px;
    text-align: center;
}

.contact-item i {
    font-size: 36px;
    margin-bottom: 15px;
    color: #007bff;
}

.contact-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.contact-item p {
    font-size: 16px;
    color: #555;
    margin: 0;
}

.logo {
    display: inline-block;
    /* Display as inline-block for centering */
    text-align: center;
    /* Center align the contents */
}

.logo img {
    max-width: 140px;
    max-height: 100px;
    margin-right: 10px;
}
/* Başlık */
header {
    background-color: #82c4e6;
    color: #000;
    padding: 11px 0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* Top bar bölgesinin iç boşluğu */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 15px;
    /* Menü öğeleri arasındaki yatay boşluk */
}

nav {
    flex-grow: 1;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    font-size: 18px;
}

nav a:hover {
    color: #3498db;
}


/* Menü Öğeleri */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu-item a {
    background-color: #82c4e6;
    color: #000000;
    padding: 8px 15px;
    border-radius: 5px;
}

/* Kayıt Ol Öğesi */

.basvur {
    position: absolute;
    top: 30px;
    /* İstediğiniz yukarıdan uzaklık değerini ayarlayın */
    right: 10px;
    /* İstediğiniz sağdan uzaklık değerini ayarlayın */
    display: inline-block;
    vertical-align: middle;
}


.basvur a {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.basvur a:hover {
    background-color: #fff;
    color: #3498db;
}
    /* Telif Hakkı Footer Stili */
    footer {
        position: fixed; /* Footer'ı sabit bir pozisyonda olmasını sağlar */
        bottom: 0; /* Sayfanın en altına sabitlemek için */
        width: 100%;
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px 0;
    }
    
    footer p {
        margin: 0;
        font-size: 14px;
    }
    
    /* Link Rengi */
    footer a {
        color: #fff;
        text-decoration: none;
    }
    
    footer a:hover {
        text-decoration: underline;
    }
    